body{
    background-color: lightblue;
    text-align: center;
}
.font{
    border-radius:20px ;
    width: 300px;
    
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.151);
    text-align: center;
    margin-left: 40%;
    



}


.font input{
    margin: 10px;
}
.reg{
    border-radius:20px ;
    width: 300px;
    height: 450px;
    padding: 15px;
    background: linear-gradient(135deg, #e55d87 0%, #5fc3e4 100%);
    text-align: center;
    margin-left: 45%;
    
}
.reg h2{
    margin: 5px;
    width: -webkit-fill-available;
    background-color: white;
    border-radius: 20px;
}
form input{
    border-radius: 15px;
    color: rgb(0, 0, 0);
    border: 0;
    width: -webkit-fill-available;
    height: 50px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    
}
.voiti{
    border-radius:20px ;
    width: 300px;
    height: 250px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.356);
    text-align: center;
    margin-left: 40%;
    position: absolute;
}
