

body {
    margin: 0 auto;
}

.container {
    display: flex;
}
.card-img-top{
    width: 250px;
    height: 250px;
}
.card-title{
    
    background-color: rgba(169, 169, 169, 0.37);
    border-radius: 5px;
}
